body {
  padding:0;
  margin:0;
}

img {
  max-width: 100%;
}

section {
  background:black;
  color: snow;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  min-height: 100vh;
  display: table;
  font-weight: 300;
  font-size: 60px;
  font-family: Courier Prime Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  text-shadow: 1px 1px #333;
}

.invert {
  background:white;
  color: black;
}

code {
  font-family: "Envy Code R", "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: white;
}

.align-middle {
  display: table-cell;
  vertical-align: middle;
}

.white {
  color: white;
}

.text-shadow-dark {
  text-shadow: 1px 1px #333;
}

@font-face {
  font-family: "Courier Prime Sans";
  src: url("font/courier-prime-sans.woff") format("woff");
}

@font-face {
  font-family: "Courier Prime Sans";
  font-weight: 700;
  src: url("font/courier-prime-sans-bold.woff") format("woff");
}

@font-face {
  font-family: "Courier Prime Sans";
  font-style: italic;
  src: url("font/courier-prime-sans-italic.woff") format("woff");
}

@font-face {
  font-family: "Courier Prime Sans";
  font-weight: 700;
  font-style: italic;
  src: url("font/courier-prime-sans-italic.woff") format("woff");
}
